html,
body {
	height: 100%;
	width: 100%;
	background-color: #ffe24f;
	font-family: 'Lato', sans-serif;
}

.view {
	width: 100%;
}

.slide {
	width: 100%;
	padding: 0 0 40px 0;
	box-sizing: border-box;
}

.slide__main {
	max-width: 640px;
	display: flex;
	margin: 0 auto;
	flex-direction: column;
}

.slide__main button {
	position: fixed;
	left: 30px;
	top: 30px;
	z-index: 2;
}

@media screen and (max-width: 1024px) {
	.slide {
		padding: 20px 0 200px 0;
	}

	.slide__main button {
		position: fixed;
		left: 20px;
		top: 20px;
	}
}
